header{

    width: 100vw; height: 100vh;
    background-image:url('cnp.jpg');
    background-repeat: no-repeat;
    background-position: left;
}
 *{
    margin: 0; padding: 0; box-sizing:  border-box;
    font-family: 'josafin Sans',sans-serif;
}
nav{
    width: 100; height: 15vh;
    background: rgba(0,0,0,0.3);
    
    color: white; display: flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
}
nav .logo{
    width: 25%; text-align: center;
}
nav .menu{
    width: 40%;
    display: flex; justify-content: space-around;
}

.visit{
    font size: 35px;
    background-image:url('pkr.jpg');

}

.pic{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;

}
.topic{
    margin-bottom: 100px;
}
.visit{
    font-size: 70px;
    text-align: center;
    color:blue;
    padding-left: 120px;
    padding-top: 80px;
    background-image:url('lmbni.jpg');

}
#slider{
    overflow: hidden;
    height: 300px;
    width: 200px;
}
#slider .slides{
    display: block;
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;

}
#slider .slide{
    float: left;
    list-style-type: none;
    width: 300px;
    height: 200px;

}
img{
    width: 300px;
    height: 200px;
}