.container{
  height:100%;
  /*margin-right : 60px;*/


}
.contain{
  width: 400px;
  margin-bottom: 5px;
  margin-right: 10px;
  float: left;
}

.title{
	margin-top: 10px;
	font-size: 20px;
	color: Green;
	margin-left: 10px;
}
