* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Front Page Design */

.frontpage-body, .otherpage-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/mountain.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.otherpage-body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/bg.png");
  min-height: 100vh;
  height: 100%;
}

.frontpage-body nav, .otherpage-body nav{
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  color: white;
  align-items: center;
  max-width: 100vw;
}

.otherpage-body nav{
  background-color: rgba(6, 38, 88, 0.8);
}

.frontpage-body nav .logo, .otherpage-body nav .logo{
  width: 20vw;
  text-align: center;
}

.frontpage-body nav .menu, .otherpage-body nav .menu{
  display: flex;
  justify-content: space-around;
  width: 48vw;
}

/* .menu .feedback-btn{
    background-color: green;
    padding: 20px;
} */

.menu a:hover {
  color: rgb(10, 150, 10);
  text-shadow: 1px 1px 1px white;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdownlist:hover .dropdown-content {
  display: block;
}

#top-menu {
  display: none;
  padding: 21px 40px;
}

#mobile-dropdownlist {
  list-style-type: none;
  margin: 0;
  position: absolute;
  margin-top: 220px;
  padding: 0;
  overflow: hidden;
  color: black;
  z-index: 2;
  background-color: white;
  display: none;
}

#mobile-dropdownlist li {
  float: none;
  z-index: 2;
  width: 100vw;
}

#mobile-dropdownlist li a {
  display: block;
  color: black;
  text-align: center;
  padding: 22px 0;
  font-size: 22px;
  text-decoration: none;
}

#mobile-dropdownlist li:hover {
  background-color: rgb(10, 140, 10);
  color: white;
}

.frontpage-body .frontpage-bodycontent {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.frontpage-body .frontpage-bodycontent .fb-text1 {
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

.frontpage-body .frontpage-bodycontent .fb-text2 {
  font-size: 3.3rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  margin: 30px 0 20px 0;
}

.frontpage-body .frontpage-bodycontent .fb-text3 {
  font-size: 1.3rem;
  font-weight: 100;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 20px;
}

.frontpage-body .frontpage-bodycontent .destination-input {
  width: 20vw;
  height: 40px;
  border-radius: 35px;
  border: 1px solid black;
  padding: 0 16px;
  font-size: 16px;
}

.frontpage-body .frontpage-bodycontent .dest-search-btn {
  padding: 12px;
  border: none;
  text-align: center;
  background-color: green;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.frontpage-body .frontpage-bodycontent .dest-search-btn:hover {
    background-color: rgb(6, 100, 6);
}

/* Footer Design */

.mainfooter {
  max-width: 100vw;
  height: auto;
  padding: 32px 0 24px 3vw; 
  color: #ddd;
  font-size: 24px;
  background: #333;
}

.mainfooter .footertext {
  font-size: 18px;
}

.mainfooter .footerlink {
  color: #55c4d3;
}

.mainfooter .footerlink:hover {
  color: #06bd0c;
}

.f-hover-opacity:hover {
  opacity: 0.6;
}

/* Destination Page Design */

.body-content{
  margin: 1.2rem 2.4rem;
  min-height: 100vh;
}

.dest-text1{
  font-size: 1rem;
  color: gray;
}

.dest-title1 {
  font-size: 1.6rem;
  color: rgb(10, 140, 10);
  margin-top: 8px;
}

.dest-boxcointainer{
  width: 100%;
  height: 200px;
  border: 2px solid gray;
  margin-top: 20px;
}

.dbc-left{
  width: 30%;
  float: left;
  height: 196px;
  border-right: 2px solid gray;
}

.dbc-left .dbc-image{
  width: 100%;
  float: left;
  height: 196px;
}

.dbc-right{
  width: 67%;
  float: right;
  height: 160px;
  margin: 20px 0;
}

.dbc-right .dbc-title{
  font-size: 30px;
  color: rgb(10,140,10);
}

.dbc-right .dbc-text{
  font-size: 20px;
  margin-top: 3px;
}

.dbc-rating{
  margin-bottom: 10px;
}

.dbc-button{
  font-size: 20px;
  color: white;
  background-color: rgb(10,140,10);
  padding: 6px 10px;
  cursor: pointer;
}

.dbc-button:hover{
  background-color: green;
}

/* Category Design */
.category-left{
  width: 22%;
  float: left; 
}

.category-left form{
  font-size: 20px;
  margin: 5px 5px;
}

.category-left form input[type=radio]{
  margin: 10px 4px;
}

.cl-title{
  font-size: 30px;
  margin-top: 5px;
  color: rgb(10, 140, 10);
}

.category-right{
  width: 77%;
  float: right;
}

.cl-button{
  border: 0;
  margin: 10px 5px;
}

@media screen and (max-width: 1080px){
  .logo{
    margin-left: 30px;
  }
  .menu .menu-list {
    float: none;
    display: none;
    width: 100%;
  }
  .menu #top-menu {
    display: block;
  }
  footer {
    font-size: 16px;
  }
  .body-content{
    margin: 20px 10px;
  }
  .category-left{
    width: 25%;
  }
  .category-right{
    width: 70%;
  }
  .category-left form{
    font-size: 18px;
    margin: 5px 5px;
  }
  .cl-title{
    font-size: 24px;
  }
  .frontpage-body .frontpage-bodycontent .fb-text2 {
    font-size: 3.1rem;
    font-weight: 500;
  }
  .frontpage-bodycontent #destination{
    width: 80vw;
    margin-bottom: 8px;
    text-align: center;
  }
}