* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Front Page Design */

.frontpage-body, .otherpage-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/mountain.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.otherpage-body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/bg.png");
  min-height: 100vh;
}

.frontpage-body nav, .otherpage-body nav{
  width: 100vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  color: white;
  align-items: center;
  /* text-transform: uppercase; */
}

.otherpage-body nav{
  background-color: rgba(6, 38, 88, 0.8);
}

.frontpage-body nav .logo, .otherpage-body nav .logo{
  width: 20vw;
  text-align: center;
}

.frontpage-body nav .menu, .otherpage-body nav .menu{
  display: flex;
  justify-content: space-around;
  width: 48vw;
}

/* .menu .feedback-btn{
    background-color: green;
    padding: 20px;
} */

.menu a:hover {
  color: rgb(10, 150, 10);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 14px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdownlist:hover .dropdown-content {
  display: block;
}

.frontpage-body .frontpage-bodycontent {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.frontpage-body .frontpage-bodycontent .fb-text1 {
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

.frontpage-body .frontpage-bodycontent .fb-text2 {
  font-size: 3.3rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  margin: 30px 0 20px 0;
}

.frontpage-body .frontpage-bodycontent .fb-text3 {
  font-size: 1.3rem;
  font-weight: 100;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 20px;
}

.frontpage-body .frontpage-bodycontent .destination-input {
  width: 20vw;
  height: 40px;
  border-radius: 35px;
  border: 1px solid black;
  padding: 0 16px;
  font-size: 16px;
}

.frontpage-body .frontpage-bodycontent .dest-search-btn {
  padding: 12px;
  border: none;
  text-align: center;
  background-color: green;
  font-weight: 500;
  color: white;
}

.frontpage-body .frontpage-bodycontent .dest-search-btn:hover {
    background-color: rgb(6, 100, 6);
}

/* Destination Page Design */

.body-content{
  margin: 1.2rem 2.4rem;
}

.dest-text1{
  font-size: 1rem;
  color: gray;
}

.dest-title1 {
  font-size: 1.6rem;
  color: rgb(10, 140, 10);
  margin-top: 8px;
}