.frontpage-body, .otherpage-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/mountain.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.otherpage-body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/bg.png");
  min-height: 100vh;
}

.frontpage-body nav, .otherpage-body nav{
  width: 100vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  color: white;
  align-items: center;
  /* text-transform: uppercase; */
}

.otherpage-body nav{
  background-color: rgba(6, 38, 88, 0.8);
}

.frontpage-body nav .logo, .otherpage-body nav .logo{
  width: 20vw;
  text-align: center;
}

.frontpage-body nav .menu, .otherpage-body nav .menu{
  display: flex;
  justify-content: space-around;
  width: 48vw;
}

.sd1{
  text-align: center;
  font-size: 35px;
  margin: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: Green;
}
.sd2{
  text-align: center;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 20px;
  color: Green;
  padding-bottom: 20px;
}



.info{
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
  /* height: 200px;
  width: 200px; */

}